{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}


    <h2> ADDRESS | IdUser: {{ .Id }} </h2>
      <p>Street: {{ .Street }}</p>
      <p>Cep:  {{ .Cep }}</p>
      <p>Number: {{ .Number }}</p><br /> <a href="/edit?id={{ .Id }}">Edit User</a></p>
  {{ template "Footer" }}
{{ end }}
